
/**
 * @file
 * testimonials.css
 *
 */
.estimonials-clearfix {
	clear:both;
	content:"";
	display:block;
}
/* Testimonials rating */
body ul.testimonials-rating {
  margin:0px;
	padding:0px;
	display: inline-flex;
}
.testimonials-rating li {
  float:left;
	list-style:none;
	width:15px;
	height:15px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(images/stars.png) no-repeat center top;
}
.testimonials-rating li.active {
	background:url(images/stars.png) no-repeat center bottom;
}
/* Testimonials */
body .testimonials-item {
	margin:0px 0px 5px;
	padding:0px;
}
/* Testimonials admin */
#testimonials-order .testimonials-picture img {
	height:50px;
}

/* Testimonials Themes */
.testimonials-template * {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.testimonials_alignment_center {
	text-align:center;
}

/* Speach bubbles */
.testimonials_theme_speech .views-field-message {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* Flat box */
.testimonials_theme_card .owl-item {
	background: #2c3e50;
	color: #FFFFFF;
}
.testimonials_theme_card a {
	color:#fff;
}
.testimonials_theme_card .views-field-author-picture{
	margin-top: 15px;
}

.testimonials_theme_speech .views-field-message, 
.testimonials_theme_flat .views-field-message,
.testimonials_theme_card .views-field-message {
	background: #f5f5f5;
	color: #333333;
	position: relative;
	padding: 20px 10px;
}

/* Composition Info Above */
.testimonials_theme_speech.testimonials_composition_info_above  .views-field-message:after,
.testimonials_theme_flat.testimonials_composition_info_above  .views-field-message:after,
.testimonials_theme_card.testimonials_composition_info_above  .views-field-message:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 10px 10px;
	display: block;
	width: 0;
	z-index: 1;
	top: -10px;
	color: transparent;
}
.testimonials_theme_speech.testimonials_composition_info_above  .views-field-message:after,
.testimonials_theme_flat.testimonials_composition_info_above  .views-field-message:after,
.testimonials_theme_card.testimonials_composition_info_above  .views-field-message:after {
	border-color: #f5f5f5 transparent;
}
.testimonials_alignment_left.testimonials_composition_info_above .views-field-message,
.testimonials_alignment_right.testimonials_composition_info_above .views-field-message {
	margin-top:20px;
}

/* Align left */
.testimonials_theme_speech.testimonials_alignment_left .views-field-author-picture,
.testimonials_theme_flat.testimonials_alignment_left .views-field-author-picture,
.testimonials_theme_card.testimonials_alignment_left .views-field-author-picture,
.testimonials_theme_quotes.testimonials_alignment_left .views-field-author-picture,
.testimonials_theme_none.testimonials_alignment_left .views-field-author-picture {
	float:left;
	margin-right:20px;
}
.testimonials_theme_speech.testimonials_alignment_left .views-field.views-field-author-name,
.testimonials_theme_flat.testimonials_alignment_left .views-field.views-field-author-name,
.testimonials_theme_card.testimonials_alignment_left .views-field.views-field-author-name,
.testimonials_theme_quotes.testimonials_alignment_left .views-field.views-field-author-name,
.testimonials_theme_none.testimonials_alignment_left .views-field.views-field-author-name {
	padding-top: 10px;
}
.testimonials_theme_speech.testimonials_alignment_left .views-field-message,
.testimonials_theme_flat.testimonials_alignment_left .views-field-message,
.testimonials_theme_card.testimonials_alignment_left .views-field-message,
.testimonials_theme_quotes.testimonials_alignment_left .views-field-message,
.testimonials_theme_none.testimonials_alignment_left .views-field-message {
	float:left;
	width:100%;
}
.testimonials_theme_speech.testimonials_alignment_left .views-field-message:after,
.testimonials_theme_flat.testimonials_alignment_left .views-field-message:after,
.testimonials_theme_card.testimonials_alignment_left .views-field-message:after {
	left: 30px;
}
.testimonials_theme_card.testimonials_alignment_left .views-field-author-picture {
	margin-left:15px;
}
.testimonials_theme_card.testimonials_alignment_left .views-field.views-field-author-name {
	padding-top: 30px;
}

/* Align right */
.testimonials_theme_speech.testimonials_alignment_right .views-field-author-picture,
.testimonials_theme_flat.testimonials_alignment_right .views-field-author-picture,
.testimonials_theme_card.testimonials_alignment_right .views-field-author-picture,
.testimonials_theme_quotes.testimonials_alignment_right .views-field-author-picture,
.testimonials_theme_none.testimonials_alignment_right .views-field-author-picture {
	float:right;
	margin-left:20px;
}
.testimonials_theme_speech.testimonials_alignment_right .views-field.views-field-author-name,
.testimonials_theme_flat.testimonials_alignment_right .views-field.views-field-author-name,
.testimonials_theme_card.testimonials_alignment_right .views-field.views-field-author-name,
.testimonials_theme_quotes.testimonials_alignment_right .views-field.views-field-author-name,
.testimonials_theme_none.testimonials_alignment_right .views-field.views-field-author-name {
	padding-top: 10px;
}
.testimonials_theme_speech.testimonials_alignment_right .views-field-message,
.testimonials_theme_flat.testimonials_alignment_right .views-field-message,
.testimonials_theme_card.testimonials_alignment_right .views-field-message,
.testimonials_theme_quotes.testimonials_alignment_right .views-field-message,
.testimonials_theme_none.testimonials_alignment_right .views-field-message {
	float:left;
	width:100%;
}
.testimonials_theme_speech.testimonials_alignment_right .views-field-message:after,
.testimonials_theme_flat.testimonials_alignment_right .views-field-message:after,
.testimonials_theme_card.testimonials_alignment_right .views-field-message:after {
	right: 30px;
}
.testimonials_theme_speech.testimonials_alignment_right .views-field-author-name, 
.testimonials_theme_speech.testimonials_alignment_right .views-field-title,
.testimonials_theme_speech.testimonials_alignment_right .views-field-rating,
.testimonials_theme_flat.testimonials_alignment_right .views-field-author-name, 
.testimonials_theme_flat.testimonials_alignment_right .views-field-title,
.testimonials_theme_flat.testimonials_alignment_right .views-field-rating,
.testimonials_theme_card.testimonials_alignment_right .views-field-author-name, 
.testimonials_theme_card.testimonials_alignment_right .views-field-title,
.testimonials_theme_card.testimonials_alignment_right .views-field-rating,
.testimonials_theme_quotes.testimonials_alignment_right .views-field-author-name, 
.testimonials_theme_quotes.testimonials_alignment_right .views-field-title,
.testimonials_theme_quotes.testimonials_alignment_right .views-field-rating,
.testimonials_theme_none.testimonials_alignment_right .views-field-author-name, 
.testimonials_theme_none.testimonials_alignment_right .views-field-title,
.testimonials_theme_none.testimonials_alignment_right .views-field-rating  {
	text-align:right;
}
.testimonials_theme_card.testimonials_alignment_right .views-field-author-picture {
	margin-right:15px;
}
.testimonials_theme_card.testimonials_alignment_right .views-field.views-field-author-name {
	padding-top: 30px;
}

/* Align center */
.testimonials_theme_speech.testimonials_alignment_center  .views-field-message:after,
.testimonials_theme_flat.testimonials_alignment_center  .views-field-message:after,
.testimonials_theme_card.testimonials_alignment_center  .views-field-message:after  {
	left: 50%;
	margin-left:-10px;
}
