
/**
 * @file
 * testimonials.css
 *
 */
.testimonials-clearfix:after {
	clear:both;
	content:"";
	display:block;
}
/* Testimonials rating */
body ul.testimonials-rating {
  margin:0px;
	padding:0px;
	display: inline-flex;
}
.testimonials-rating li {
  float:left;
	list-style:none;
	width:15px;
	height:15px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(images/stars.png) no-repeat right top;
}
.testimonials-rating li.active {
	background:url(images/stars.png) no-repeat left top;
}
/* Testimonials */
body .testimonials-item {
	margin:0px 0px 5px;
	padding:0px;
}
.testimonial-item .author-info {
	padding:20px 10px;
	float:left;
	width:100%;
}
.testimonial-item .message {
	float:left;
	width:100%;
	position:relative;
}
.testimonial-item .testimonial-message {
	position:relative;
}
/* Testimonials admin */
#testimonials-order .testimonials-picture img {
	height:50px;
}

/* Testimonials Themes */
.testimonials-template * {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.testimonials_alignment_center {
	text-align:center;
}
.testimonials_composition_info_below.testimonials_alignment_left .message,
.testimonials_composition_info_below.testimonials_alignment_right .message {
	margin-bottom:20px;
}
.testimonials_picture_rounded .testimonial-author-picture img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:50px;
	height:50px;
}

/* Speach bubbles */
.testimonials_theme_speech .message {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Flat box */
.testimonials_theme_card .owl-item, .testimonials_theme_card .testimonial-item {
	background:#2c3e50;
	color: #FFFFFF;
	position:relative;
}
.testimonials_theme_card a {
	color:#fff;
}
.testimonials_theme_speech .message, 
.testimonials_theme_flat .message,
.testimonials_theme_card .message {
	background: rgba(245, 245, 245, 0.9);
	color: #333333;
	position: relative;
	padding: 20px 10px;
}
/* Quotes */
.testimonials_theme_quotes .testimonial-message {
	 padding: 5px 40px;
}
.testimonials_theme_quotes .testimonial-message:before, .testimonials_theme_quotes .testimonial-message:after {
	width:32px;
	height:24px;
	display:block;
	position:absolute;
	content:"";
}
.testimonials_theme_quotes .testimonial-message:before {
	left:0px;
	top:0px;
	background:url(images/quote_left.png) no-repeat left top;
}
.testimonials_theme_quotes .testimonial-message:after {
	right:0px;
	bottom:0px;
	background:url(images/quote_right.png) no-repeat left top;
}

/* Composition Info Above */
.testimonials_theme_speech.testimonials_composition_info_above  .message:after,
.testimonials_theme_flat.testimonials_composition_info_above  .message:after,
.testimonials_theme_card.testimonials_composition_info_above  .message:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 10px 10px;
	display: block;
	width: 0;
	z-index: 1;
	top: -10px;
	color: transparent;
}
.testimonials_theme_speech.testimonials_composition_info_above  .message:after,
.testimonials_theme_flat.testimonials_composition_info_above  .message:after,
.testimonials_theme_card.testimonials_composition_info_above  .message:after {
	border-color: rgba(245, 245, 245, 0.9) transparent;
}

/* Composition Info Below */
.testimonials_theme_speech.testimonials_composition_info_below  .message:after,
.testimonials_theme_flat.testimonials_composition_info_below  .message:after,
.testimonials_theme_card.testimonials_composition_info_below  .message:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width:10px 10px 0 ;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -10px;
	color: transparent;
}
.testimonials_theme_speech.testimonials_composition_info_below  .message:after,
.testimonials_theme_flat.testimonials_composition_info_below  .message:after,
.testimonials_theme_card.testimonials_composition_info_below  .message:after {
	border-color: rgba(245, 245, 245, 0.9) transparent;
}

/* Composition Info Left */
.testimonials-template.testimonials_theme_speech.testimonials_composition_info_left  .message:after,
.testimonials-template.testimonials_theme_flat.testimonials_composition_info_left  .message:after,
.testimonials-template.testimonials_theme_card.testimonials_composition_info_left  .message:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	display: block;
	width: 0;
	z-index: 1;
	left: -10px;
	top: 30px;
	color: transparent;
}
.testimonials-template.testimonials_composition_info_left.testimonials_alignment_center .message:after {
	left: 0px;
}
.testimonials-template.testimonials_theme_speech.testimonials_composition_info_left  .message:after,
.testimonials-template.testimonials_theme_flat.testimonials_composition_info_left  .message:after,
.testimonials-template.testimonials_theme_card.testimonials_composition_info_left  .message:after {
	border-color: transparent rgba(245, 245, 245, 0.9);
}
.testimonials_composition_info_right .message {
	text-align:left;
}
.testimonials-template.testimonials_composition_info_left .author-info {
	width:30%;
	display: table-cell;
	vertical-align: top;
	float:none;
}
.testimonials-template.testimonials_composition_info_left .message {
	display: table-cell;
	vertical-align: top;
	float:none !important;
	width:inherit;
}
.testimonials_composition_info_left .author-info,
.testimonials_composition_info_right .author-info {
	text-align:center !important;
}


/* Composition Info Right */
.testimonials-template.testimonials_theme_speech.testimonials_composition_info_right  .message:after,
.testimonials-template.testimonials_theme_flat.testimonials_composition_info_right  .message:after,
.testimonials-template.testimonials_theme_card.testimonials_composition_info_right  .message:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	display: block;
	width: 0;
	z-index: 1;
	right: -10px;
	left:inherit;
	top: 30px;
	color: transparent;
}
.testimonials_composition_info_right .message {
	text-align:right;
}
.testimonials-template.testimonials_theme_speech.testimonials_composition_info_right  .message:after,
.testimonials-template.testimonials_theme_flat.testimonials_composition_info_right  .message:after,
.testimonials-template.testimonials_theme_card.testimonials_composition_info_right  .message:after {
	border-color: transparent rgba(245, 245, 245, 0.9);
}
.testimonials-template.testimonials_composition_info_right .author-info {
	display: table-cell;
	vertical-align: top;
	float:none !important;
}
.testimonials-template.testimonials_composition_info_right .message {
	width:70% !important;
	display: table-cell;
	vertical-align: top;
	float:none !important;
}
.testimonials_composition_info_right .testimonial-author-picture, 
.testimonials_composition_info_left .testimonial-author-picture {
	float:none !important;
	margin:0px !important;
}

/* Align left */
.testimonials_composition_info_above.testimonials_alignment_left .testimonial-author-picture,
.testimonials_composition_info_below.testimonials_alignment_left .testimonial-author-picture {
	float:left;
	margin-right:20px;
	margin-top: -15px;
}
.testimonials_theme_speech.testimonials_alignment_left .message:after,
.testimonials_theme_flat.testimonials_alignment_left .message:after,
.testimonials_theme_card.testimonials_alignment_left .message:after {
	left: 30px;
}


/* Align right */
.testimonials_theme_speech.testimonials_alignment_right .message,
.testimonials_theme_flat.testimonials_alignment_right .message,
.testimonials_theme_card.testimonials_alignment_right .message,
.testimonials_theme_quotes.testimonials_alignment_right .message,
.testimonials_theme_none.testimonials_alignment_right .message {
	float:left;
	width:100%;
}
.testimonials_theme_speech.testimonials_alignment_right .message:after,
.testimonials_theme_flat.testimonials_alignment_right .message:after,
.testimonials_theme_card.testimonials_alignment_right .message:after {
	right: 30px;
}
.testimonials_alignment_right .testimonial-author-picture{
	float:right;
	margin-left:20px;
	margin-top: -15px;
}
.testimonials_alignment_right .author-info{
	text-align:right;
}


/* Align center */
.testimonials_theme_speech.testimonials_alignment_center  .message:after,
.testimonials_theme_flat.testimonials_alignment_center  .message:after,
.testimonials_theme_card.testimonials_alignment_center  .message:after  {
	left: 50%;
	margin-left:-10px;
}

/* Owl Carousel */
.testimonials-template .owl-controls .owl-buttons div {
	width:12px;
	height:18px;
	display:inline-block;
	background-color:inherit;
	border-radius:0px;
	text-indent:-9999px;
	overflow:hidden;
	padding:0px;
}
.testimonials-template .owl-controls .owl-buttons .owl-next {
	background:url(images/nav.png) no-repeat right top;
}
.testimonials-template .owl-controls .owl-buttons .owl-prev {
	background:url(images/nav.png) no-repeat left top;
}